# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/dist

# log
yarn-error.log

# misc
.DS_Store
npm-debug.log*

# test
test/uirecorder.log
test/reports
test/screenshots/*